In [1]:
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
import pandas as pd

In [52]:
pr_personal_data = pd.read_csv('../../Data/Processed/pr_personal_data.csv', sep = '|')
pr_personal_data.head()

,expediente,cod_plan,des_plan,anio_apertura_expediente,exp_cerrado,exp_trasladado,tipo_traslado,exp_bloqueado,abandona,anio_convocatoria_acceso,...,des_subacesso,nota_acceso,nota_admision_def,centro_escolar_acceso,sexo,fecha_nacimiento,cod_provincia,provincia,cod_municipio,municipio
0,1,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,S,S,S,N,N,2008-09,...,LOGSE,7.16,7.16,229-COLEGIO LA ASUNCIÓN (Cáceres),H,1991-05-23,10.0,CÁCERES,1.0,CÁCERES
1,2,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,S,N,N,N,N,2008-09,...,LOGSE,6.77,NaN,NaN,D,1991-03-28,40.0,SEGOVIA,1.0,SEGOVIA
2,3,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,N,N,N,N,S,2008-09,...,Ciclos formativos,7.78,NaN,NaN,H,1985-02-03,4.0,ALMERÍA,1.0,ALMERÍA
3,4,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,S,N,N,N,N,2008-09,...,Ciclos formativos,5.88,NaN,NaN,D,1988-11-09,6.0,BADAJOZ,1.0,BADAJOZ
4,5,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,N,S,I,N,S,2008-09,...,LOGSE,6.73,6.73,160-COLEGIO SAGRADA FAMILIA,D,1991-11-03,6.0,BADAJOZ,1.0,BADAJOZ

In [62]:
pr_personal_data['fecha_curso'] = '2016-01-01'
pr_personal_data['fecha_curso'] = pd.to_datetime(pr_personal_data['fecha_curso'])
pr_personal_data['fecha_nacimiento'] = pd.to_datetime(pr_personal_data['fecha_nacimiento'])

In [65]:
pr_personal_data['edad_acceso'] = pr_personal_data.apply(lambda func: func.fecha_curso.year - func.fecha_nacimiento.year,axis=1)

In [66]:
pr_personal_data.head()

,expediente,cod_plan,des_plan,anio_apertura_expediente,exp_cerrado,exp_trasladado,tipo_traslado,exp_bloqueado,abandona,anio_convocatoria_acceso,...,nota_admision_def,centro_escolar_acceso,sexo,fecha_nacimiento,cod_provincia,provincia,cod_municipio,municipio,fecha_curso,edad_acceso
0,1,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,S,S,S,N,N,2008-09,...,7.16,229-COLEGIO LA ASUNCIÓN (Cáceres),H,1991-05-23,10.0,CÁCERES,1.0,CÁCERES,2016-01-01,25
1,2,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,S,N,N,N,N,2008-09,...,NaN,NaN,D,1991-03-28,40.0,SEGOVIA,1.0,SEGOVIA,2016-01-01,25
2,3,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,N,N,N,N,S,2008-09,...,NaN,NaN,H,1985-02-03,4.0,ALMERÍA,1.0,ALMERÍA,2016-01-01,31
3,4,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,S,N,N,N,N,2008-09,...,NaN,NaN,D,1988-11-09,6.0,BADAJOZ,1.0,BADAJOZ,2016-01-01,28
4,5,1623,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,N,S,I,N,S,2008-09,...,6.73,160-COLEGIO SAGRADA FAMILIA,D,1991-11-03,6.0,BADAJOZ,1.0,BADAJOZ,2016-01-01,25

In [35]:
final_analys_personal_data = pd.read_csv('../../Data/For_analysis_and_modeling/1st_quadrimester/pred_analys_personal_data.csv', sep = '|')

In [36]:
final_analys_personal_data.drop(['1st_model','2nd_model'],axis=1,inplace=True)

In [37]:
final_analys_personal_data.head()

,des_plan,anio_apertura_expediente,abandona,convocatoria_acceso,des_acceso,sexo,lugar_origen,anio_nacimiento_interval,nota_admision_def_interval,scholarship,cum_absent_ratio,cum_pass_ratio,expediente,cod_plan
0,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,0,JUN,Selectividad,H,MISMO_MUNICIPIO,"(1990.0, 1995.0]","(6.0, 7.5]",N,"(-0.001, 0.25]","(-0.001, 0.25]",1,1623
1,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,0,JUN,Selectividad,D,OTRA_COMUNIDAD,"(1990.0, 1995.0]","(6.0, 7.5]",S,"(-0.001, 0.25]","(0.25, 0.5]",2,1623
2,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,1,JUN,Formación Profesional,H,OTRA_COMUNIDAD,"(1980.0, 1985.0]","(6.0, 7.5]",S,"(0.5, 0.75]","(-0.001, 0.25]",3,1623
3,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,0,JUN,Formación Profesional,D,OTRO_MUNICIPIO,"(1985.0, 1990.0]","(6.0, 7.5]",N,"(-0.001, 0.25]","(-0.001, 0.25]",4,1623
4,GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,2009-10,1,JUN,Selectividad,D,OTRO_MUNICIPIO,"(1990.0, 1995.0]","(6.0, 7.5]",N,"(-0.001, 0.25]","(0.25, 0.5]",5,1623

In [38]:
final_analys_personal_data['abandona'].value_counts()

1    1171
0    1111
Name: abandona, dtype: int64

In [39]:
final_analys_personal_data['abandona'] = final_analys_personal_data['abandona'].astype('bool')

In [40]:
final_analys_personal_data['abandona'] = final_analys_personal_data['abandona'].astype('str')

In [41]:
final_analys_personal_data['abandona'].value_counts()

True     1171
False    1111
Name: abandona, dtype: int64

In [42]:
dset = pd.get_dummies(data=final_analys_personal_data)

In [43]:
dset.head()

,expediente,cod_plan,des_plan_GRADO EN EDIFICACIÓN,des_plan_GRADO EN INGENIERÍA CIVIL - CONSTRUCCIONES CIVILES,des_plan_GRADO EN INGENIERÍA CIVIL - HIDROLOGÍA,des_plan_GRADO EN INGENIERÍA CIVIL - TRANSPORTES Y SERVICIOS URBANOS,des_plan_GRADO EN INGENIERÍA DE SONIDO E IMAGEN EN TELECOMUNICACIÓN,des_plan_GRADO EN INGENIERÍA INFORMÁTICA EN INGENIERÍA DE COMPUTADORES,des_plan_GRADO EN INGENIERÍA INFORMÁTICA EN INGENIERÍA DEL SOFTWARE,anio_apertura_expediente_2008-09,...,scholarship_N,scholarship_S,"cum_absent_ratio_(-0.001, 0.25]","cum_absent_ratio_(0.25, 0.5]","cum_absent_ratio_(0.5, 0.75]","cum_absent_ratio_(0.75, 1.0]","cum_pass_ratio_(-0.001, 0.25]","cum_pass_ratio_(0.25, 0.5]","cum_pass_ratio_(0.5, 0.75]","cum_pass_ratio_(0.75, 1.0]"
0,1,1623,0,1,0,0,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0
1,2,1623,0,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0
2,3,1623,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,0
3,4,1623,0,1,0,0,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0
4,5,1623,0,1,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,0,0

In [44]:
dset.drop(['expediente','cod_plan'],axis=1,inplace=True)

In [45]:
pd.set_option('display.max_colwidth',-1)

<ipython-input-45-dc5dda32fe3d>:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth',-1)

In [49]:
from mlxtend.frequent_patterns import fpgrowth
frequent_itemsets = fpgrowth(dset, min_support=0.15, use_colnames=True)
frequent_itemsets[0:11]

     support                                     itemsets
0   0.844873  (des_acceso_Selectividad)
1   0.811569  (sexo_H)
2   0.748904  (convocatoria_acceso_JUN)
3   0.556529  (anio_nacimiento_interval_(1990.0, 1995.0])
4   0.540754  (cum_pass_ratio_(-0.001, 0.25])
5   0.520596  (nota_admision_def_interval_(6.0, 7.5])
6   0.503067  (scholarship_N)
7   0.486854  (abandona_False)
8   0.462752  (cum_absent_ratio_(-0.001, 0.25])
9   0.217791  (lugar_origen_MISMO_MUNICIPIO)
10  0.171779  (anio_apertura_expediente_2009-10)

In [50]:
frequent_itemsets['support'] = frequent_itemsets.apply(
    lambda func: func.support if 'abandona' in str(func.itemsets) else -1, axis=1)
frequent_itemsets_target = frequent_itemsets[frequent_itemsets['support']!=-1]
frequent_itemsets_target

,support,itemsets
7,0.486854,(abandona_False)
14,0.513146,(abandona_True)
112,0.280456,"(abandona_True, scholarship_N)"
148,0.237511,"(abandona_True, des_acceso_Selectividad, scholarship_N)"
149,0.173970,"(abandona_True, convocatoria_acceso_JUN, scholarship_N)"
...,...,...
388,0.214286,"(abandona_True, des_acceso_Selectividad, sexo_H, anio_nacimiento_interval_(1990.0, 1995.0])"
389,0.196319,"(abandona_True, des_acceso_Selectividad, anio_nacimiento_interval_(1990.0, 1995.0], cum_pass_ratio_(-0.001, 0.25])"
390,0.186240,"(abandona_True, sexo_H, anio_nacimiento_interval_(1990.0, 1995.0], cum_pass_ratio_(-0.001, 0.25])"
391,0.169150,"(abandona_True, des_acceso_Selectividad, anio_nacimiento_interval_(1990.0, 1995.0], sexo_H, cum_pass_ratio_(-0.001, 0.25])"
404,0.162577,"(abandona_True, cum_absent_ratio_(0.25, 0.5])"

In [48]:
dset_apriori = apriori(dset, use_colnames = True, verbose = 1)
df_ar = association_rules(dset_apriori, metric = "confidence", min_threshold = 0.4)
df_ar

Processing 27 combinations | Sampling itemset size 3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(des_acceso_Selectividad),(convocatoria_acceso_JUN),0.844873,0.748904,0.602103,0.712656,0.951597,-0.030626,0.873849
1,(convocatoria_acceso_JUN),(des_acceso_Selectividad),0.748904,0.844873,0.602103,0.803979,0.951597,-0.030626,0.791380
2,(convocatoria_acceso_JUN),(sexo_H),0.748904,0.811569,0.604733,0.807490,0.994974,-0.003055,0.978811
3,(sexo_H),(convocatoria_acceso_JUN),0.811569,0.748904,0.604733,0.745140,0.994974,-0.003055,0.985231
4,(des_acceso_Selectividad),(sexo_H),0.844873,0.811569,0.682734,0.808091,0.995715,-0.002938,0.981879
5,(sexo_H),(des_acceso_Selectividad),0.811569,0.844873,0.682734,0.841253,0.995715,-0.002938,0.977195
6,(lugar_origen_OTRO_MUNICIPIO),(des_acceso_Selectividad),0.656880,0.844873,0.557406,0.848566,1.004371,0.002426,1.024385
7,(des_acceso_Selectividad),(lugar_origen_OTRO_MUNICIPIO),0.844873,0.656880,0.557406,0.659751,1.004371,0.002426,1.008438
8,(des_acceso_Selectividad),"(anio_nacimiento_interval_(1990.0, 1995.0])",0.844873,0.556529,0.521472,0.617220,1.109052,0.051276,1.158552
9,"(anio_nacimiento_interval_(1990.0, 1995.0])",(des_acceso_Selectividad),0.556529,0.844873,0.521472,0.937008,1.109052,0.051276,2.462642
10,(lugar_origen_OTRO_MUNICIPIO),(sexo_H),0.656880,0.811569,0.533742,0.812542,1.001199,0.000639,1.005190
11,(sexo_H),(lugar_origen_OTRO_MUNICIPIO),0.811569,0.656880,0.533742,0.657667,1.001199,0.000639,1.002300